:root {
	--table-size: calc(40vw + 40vh);
}
#new-game {
	height: 10vh;
	background: red;
	position: fixed;
	width: 100%;
	right: 0px;
}
* {
	padding: 0;
}
.color {
	transition: background-color 0.4s ease, opacity 2s ease-out;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: black;
}
td {
	padding: 10px;
}
table {
	border-collapse: collapse;
	width: var(--table-size);
	height: calc(var(--table-size) * calc(2/3));
	margin: 0 auto;
}
tr {
	width: 33%;
}
#lookfor {
	text-align: center;
	font-size: 40px;
}