* {
	padding: 0;
}
.color {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: black;
}
td {
	padding: 10px;
	border: 1px solid red;
}
table {
	border: 1px solid red;
	border-collapse: collapse;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
tr {
	width: 33%;
}