@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
	--table-size: calc(40vw + 40vh);
}
#new-game {
	background: rgba(0,0,0,.8);
	color: whitesmoke;
	position: fixed;
	padding: 50vh;
	width: 100%;
	right: 0px;
	top: 0px;
	text-align: center;
	overflow: hidden;
	font-size: 30px;
	font-style: italic;
	font-weight: 800;
}
* {
	padding: 0;
	font-family: Raleway;
}
.color {
	transition: background-color 0.4s ease, opacity 2s ease-out;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background: black;
}
td {
	padding: 10px;
}
table {
	border-collapse: collapse;
	width: var(--table-size);
	height: calc(var(--table-size) * calc(2/3));
	margin: 0 auto;
}
tr {
	width: 33%;
}
#lookfor {
	text-align: center;
	font-size: 40px;
}